# MkDocs Configuration
site_name: Usagi Garden

plugins:
  - blog:
      archive: false
      post_url_date_format: yyyy/MM/dd
      post_url_format: "{slug}"
      blog_dir: posts
      categories: true

  - redirects:
      redirect_maps:
        'posts/index.md': 'index.md'

  - search:
      lang:
        - en
        - zh

  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago


theme:
  name: material
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - toc.follow
    - content.code.copy
    - content.action.edit
    - content.tabs
    - content.tooltips
    - content.blog

  # 字体、主题、logo
  font:
    text: Roboto Mono
  logo: assets/images/rabbit.gif

  palette:
    - media: "(prefers-color-scheme: light)"
      primary: lime
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      primary: lime
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - assets/css/bg.css
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css
  - https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap

extra:
  generator: false
  copyright: Copyright © 2025 Usagi Garden

markdown_extensions:
  - abbr
  - attr_list
  - md_in_html
  - tables
  - admonition
  - pymdownx.snippets
  - pymdownx.details
  - footnotes
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true


extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - javascripts/reading-mode.js

exclude:
  - "_drafts/*"